{% extends "base.html" %}


{% block registrar_content %}
      <h1>Registro de usuario</h1> 

    <form action="" method="post">
        {% csrf_token %}
    	<input type="hidden" name="action" value="signup">

    	<strong>Usuario </strong> <input type="text" name="username"><br>
        <br>
    	<strong>Contraseña </strong> <input type="text" name="password"><br>
        <br>
        <strong>Nombre </strong> <input type="text" name="nombre"><br>
        <br>
        <strong>Apellido </strong>  <input type="text" name="apellido"><br>
        <br>
        <strong>Dni </strong>  <input type="text" name="dni"><br>
        <br>
        <strong>Dirección</strong>  <input type="text" name="direccion"><br>
        <br>
        <strong>Teléfono </strong> <input type="text" name="telefono"><br>
        <br>
        <strong>Ciudad </strong>  <input type="text" name="ciudad"><br>
        <br> 
        <strong>Provincia </strong>  <input type="text" name="provincia"><br>
        <br> 
        <strong>Pais </strong>  <input type="text" name="pais"><br>
        <br> 
        <strong>E-mail </strong>  <input type="text" name="email"><br>
        <br> 
       

    	<button type="submit">Registrar</button>
    </form>

    {% endblock %}